* {
	box-sizing: border-box;
}

.container {
  margin: 0 auto;
	max-width: 1080px;
	padding: 0 15px;
	height: 100%;
}

.cover-wrapper {
  height: 287px;
  background: url("./img/cover-image.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-wrapper h1 {
  margin: 0;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 500;
  color: #fff;
  letter-spacing: 2px;
  font-size: 64px;
  line-height: 1;
}

.menu-wrapper {
	position: fixed;
	background-color: rgba(0, 0, 0, .25);
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	height: 60px;
	z-index: 10;
}

.menu-inner {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
}

.cart {
	position: fixed;
	right: -360px;
	top: 0;
	bottom: 0;
	height: 100%;
	background-color: #ffffff;
	width: 360px;
	transition: all 0.3s linear;
	z-index: 11;
	box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2);
	padding-top: 60px;
	padding-bottom: 100px;
}

.cart.active {
	width: 360px;
	right: 0;
}

.cart-header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 0 10px;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	height: 60px;
}

.cart-header h2 {
	margin: 0;
	font-size: 21px;
	letter-spacing: 2px;
	font-weight: 300;
	line-height: 60px;
	text-transform: lowercase;
}

.cart-header .cross-icon {
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

.cart-footer {
	background: #ffffff;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 101px;
	margin-top: 20px;
	display: flex;
}

.cart-total {
	width: 60%;
	font-weight: bold;
	border-top: 1px solid rgba(0, 0, 0, .2);
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-checkout {
	background-color: #8BA989;
	height: 100%;
	width: 40%;
}

.cart-checkout a {
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 4px;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	transition: all .5s ease;
}

.cart-checkout a:active,
.cart-checkout a:hover{
	background-color: #C0CFB2;
	color: #445e42;
}

.cart-content {
	position: relative;
	height: 100%;
	overflow-y: auto;
}

.cart-empty {
	padding: 10px;
	font-size: 21px;
}

.cross-icon {
	background: url("./img/close.svg");
	width: 20px;
	height: 20px;
	background-size: contain;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

.cart-line-item {
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	padding: 15px 70px 30px 10px;
	position: relative;
}

.cart-item-title {
	font-weight: bold;
	line-height: 1.25;
	margin-bottom: 10px;
}

.cart-item-subtitle {
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 300;
	margin-bottom: 10px;
}

.cart-line-item .label-remove {
	text-decoration: underline;
	cursor: pointer;
	letter-spacing: 2px;
	font-size: 13px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	text-transform: lowercase;
	color: #c26868;
}

.label-remove-all {
	text-decoration: underline;
	cursor: pointer;
	letter-spacing: 2px;
	font-size: 13px;
	text-transform: lowercase;
	color: #c26868;
	text-align: left;
	padding: 7px 15px;
}

.cart-item-quantity {
	letter-spacing: 2px;
	font-size: 14px;
	position: absolute;
	right: 10px;
	top: 15px;
}

.cart-item-price {
	font-size: 16px;
}

.cart-line-item img {
	width: 100px;
	height: auto;
	margin-right: 13px;
}

.cart-icon {
	background-image: url("./img/shopping-cart.svg");
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	cursor: pointer;
	position: relative;
}

.cart-icon span {
	position: absolute;
	right: -5px;
	top: -5px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #c26868;
	color: #fff;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-item-bottom {
	position: absolute;
	bottom: 10px;

}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
	justify-content: center;
	align-items: center;
}

.pagination .page-item.next,
.pagination .page-item.prev {
	background: url(./img/arrow.svg);
	font-size: 0;
	width: 25px;
	height: 25px;
	background-size: contain;
	cursor: pointer;
}

.pagination .page-item.next {
	transform: rotate(-180deg)
}

.pagination .page-num {
  width: 35px;
  height: 35px;
  border: 1px solid #8BA989;
	border-radius: 50%;
  margin: 0 5px;
}

.pagination .page-link {
	color: #8BA989;
	display: block;
	width: 100%;
	height: 100%;
}

.pagination .page-num .page-link {
	display: flex;
  align-items: center;
  justify-content: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.pagination .page-num.active .page-link {
	color: #000;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
}

.product-card {
	box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2);
	border-radius: 30px;
	overflow: hidden;
	padding: 20px 20px 100px;
	max-width: 300px;
	position: relative;
}

.product-wrapper {
	width: 33.333%;
	display: flex;
	justify-content: center;
	margin: 30px 0;
}

.product-image img {
	display: block;
	width: 100%;
}

.product-title {
	text-transform: capitalize;
	margin: 10px 0 0;
}

.select-wrapper {
	margin-bottom: 20px;
}

.select-wrapper select {
	padding: 10px;
	width: 100%;
	border-color: #8BA989;
	border-radius: 3px;
}

.select-wrapper select {
	appearance: none;
	background-image: url("./img/arrow-down.svg");
	background-repeat: no-repeat;
	background-position: 95% 50%;

}

.button {
	cursor: pointer;
	padding: 15px 25px;
	border: none;
	background-color: #8BA989;
	color: #fff;
	border-radius: 30px;
	font: inherit;
	line-height: 1;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	outline: none;
	transition: all .5s ease;
}

.button:hover {
	outline: none;
	box-shadow:
 0px 5px 10px #ECECE9,
   0px 5px 10px #ECECE9,
  0px 5px 10px #ECECE9;
}

.button:active {
	background-color: #C0CFB2;
}

.product-quantity {
	display: inline-flex;
}

.product-prq {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.product-price {
	letter-spacing: 2px;
  font-size: 13px;
}

.products-desc {
	font-size: 12px;
	max-height: 67px;
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	letter-spacing: 0.5px;
}

.product-quantity input {
	max-width: 50px;
	height: 30px;
	font-size: 14px;
	padding: 5px;
	line-height: 1;
	text-align: center;
	border: none;
	border-top: 1px solid #8BA989;
	border-bottom: 1px solid #8BA989;
	color: #8BA989;
	outline: none;
}

.product-quantity .increase-quantity,
.product-quantity .decrease-quantity {
	width: 30px;
	height: 30px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	border: 1px solid #8BA989;
	color: #8BA989;
	font-size: 21px;
	font-weight: 300;
	line-height: 1;
	font-family: 'Playfair', sans-serif;
	outline: none;
}

.decrease-quantity {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.increase-quantity {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;;
}

.product-card input[type=number] {
	-moz-appearance: textfield;
}

.product-card input::-webkit-outer-spin-button,
.product-card input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer-wrapper {
	margin-top: 35px;
	background-color: #ECECE9;
	padding: 36px 0;
	text-align: center;
}
