@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
  src: local('Roboto'), url(./fonts/Roboto-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    font-weight: 500;
    src: local('Playfair Display'), url(./fonts/PlayfairDisplay-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Playfair Display';
	src: local('Playfair Display'), url(./fonts/PlayfairDisplay-Italic.ttf) format('truetype');
	font-style: italic;
	font-weight: 500;
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
	line-height: 1.65;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
